#LableForName{
    display: none;
}
#LableForEmail{
    display: none;
}
#LableForPhoneNo{
    display: none;
}
#LableForClass{
    display: none;
}
#LableForPasswd{
    display: none;
}
#LableForConfirmPasswd{
    display: none;
}